In [2]:
import pandas as pd
import dask.dataframe as dd

In [3]:
cols_dict = {
    'TP_COR_RACA':int,
    'TP_SEXO':'string',
    'TP_FAIXA_ETARIA':int,
    'TP_ESTADO_CIVIL':int,
    'TP_ST_CONCLUSAO':int,
    'TP_ESCOLA':int,
    'IN_TREINEIRO':int,
    'CO_MUNICIPIO_ESC':'Sparse[int]',
    'NO_MUNICIPIO_ESC':'string',
    'SG_UF_ESC':'string',
    'TP_DEPENDENCIA_ADM_ESC':int,
    'TP_LOCALIZACAO_ESC':int,
    'TP_SIT_FUNC_ESC':int,
    'NU_NOTA_CN':'Sparse[float]',
    'NU_NOTA_CH':'Sparse[float]',
    'NU_NOTA_LC':'Sparse[float]',
    'NU_NOTA_MT':'Sparse[float]',
    'TP_STATUS_REDACAO':int,
    'NU_NOTA_COMP1':'Sparse[int]',
    'NU_NOTA_COMP2':'Sparse[int]',
    'NU_NOTA_COMP3':'Sparse[int]',
    'NU_NOTA_COMP4':'Sparse[int]',
    'NU_NOTA_COMP5':'Sparse[int]',
    'NU_NOTA_REDACAO':'Sparse[int]'
            }

In [8]:
# Using Dask to read the data
enem = dd.read_csv(
    '../../Dados/Enem/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv',
    blocksize = 16 * 1024 * 1024,
    usecols = cols_dict.keys(),
    sep = ';',
    header = 0,
    encoding='latin-1',
    dtype={'NO_MUNICIPIO_ESC': 'object',
       'SG_UF_ESC': 'object'}
)

In [9]:
enem.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,SG_UF_ESC,...,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,13,M,1,3,1,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,M,1,1,1,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13,F,1,3,1,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,F,1,1,1,1,0,NaN,NaN,NaN,...,503.6,537.3,392.0,1.0,120.0,120.0,120.0,100.0,0.0,460.0
4,7,F,1,1,1,1,0,NaN,NaN,NaN,...,575.5,570.7,677.0,1.0,160.0,120.0,180.0,200.0,200.0,860.0

In [10]:
len(enem)

5095171