In [1]:
import pandas as pd
import dask.dataframe as dd

In [9]:
from ..Utils.cols_list import *

ImportError: attempted relative import with no known parent package

In [2]:
cols_list = [
    'NU_ANO_CENSO',
    'SG_UF',
    'CO_MUNICIPIO',
    'NO_MUNICIPIO',
    'CO_ENTIDADE',
    'TP_DEPENDENCIA',
    'TP_LOCALIZACAO',
    'TP_SITUACAO_FUNCIONAMENTO',
    'IN_AGUA_POTAVEL',
    'IN_ENERGIA_INEXISTENTE',
    'IN_ESGOTO_INEXISTENTE',
    'IN_AREA_VERDE',
    'IN_BANHEIRO',
    'IN_BIBLIOTECA',
    'IN_LABORATORIO_INFORMATICA',
    'IN_INTERNET',
    'IN_INTERNET_APRENDIZAGEM',
    'IN_INTERNET_ADMINISTRATIVO',
    'IN_INTERNET_COMUNIDADE',
    'IN_ACESSO_INTERNET_COMPUTADOR',
    'IN_ACES_INTERNET_DISP_PESSOAIS',
    'TP_REDE_LOCAL',
    'IN_BANDA_LARGA',
    'IN_EXAME_SELECAO',
    'QT_DOC_MED'
]

In [3]:
censo = dd.read_csv(
    '../../Dados/Censo Escolar/2021/dados/microdados_ed_basica_2021.csv', 
    sep=';', 
    encoding='latin-1',
    usecols=cols_list,
    assume_missing=True,
    )

In [4]:
censo.head()

,NU_ANO_CENSO,SG_UF,NO_MUNICIPIO,CO_MUNICIPIO,CO_ENTIDADE,TP_DEPENDENCIA,TP_LOCALIZACAO,TP_SITUACAO_FUNCIONAMENTO,IN_AGUA_POTAVEL,IN_ENERGIA_INEXISTENTE,...,IN_INTERNET,IN_INTERNET_ADMINISTRATIVO,IN_INTERNET_APRENDIZAGEM,IN_INTERNET_COMUNIDADE,IN_ACESSO_INTERNET_COMPUTADOR,IN_ACES_INTERNET_DISP_PESSOAIS,TP_REDE_LOCAL,IN_BANDA_LARGA,IN_EXAME_SELECAO,QT_DOC_MED
0,2021.0,RO,Alta Floresta D'Oeste,1100015.0,11022558.0,2.0,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,NaN,0.0,0.0
1,2021.0,RO,Alta Floresta D'Oeste,1100015.0,11024275.0,2.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,2021.0,RO,Alta Floresta D'Oeste,1100015.0,11024291.0,3.0,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,NaN,0.0,0.0
3,2021.0,RO,Alta Floresta D'Oeste,1100015.0,11024372.0,3.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2021.0,RO,Alta Floresta D'Oeste,1100015.0,11024666.0,3.0,2.0,1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

### Inferindo medidas de conectividade / acesso à tecnologia nas escolas e agregando um score à nível de município para matching com outras bases de dados

Realizar agregações:
- Por município
- Por tipo de dependência
- Por tipo de localização
Medindo as variáveis avaliadas como explicativas e criando um score para cada nas agregações descritas.

In [9]:
censo[censo['NO_MUNICIPIO']=='Recife'].head()

,NU_ANO_CENSO,SG_UF,NO_MUNICIPIO,CO_MUNICIPIO,CO_ENTIDADE,TP_DEPENDENCIA,TP_LOCALIZACAO,TP_SITUACAO_FUNCIONAMENTO,IN_AGUA_POTAVEL,IN_ENERGIA_INEXISTENTE,...,IN_INTERNET,IN_INTERNET_ADMINISTRATIVO,IN_INTERNET_APRENDIZAGEM,IN_INTERNET_COMUNIDADE,IN_ACESSO_INTERNET_COMPUTADOR,IN_ACES_INTERNET_DISP_PESSOAIS,TP_REDE_LOCAL,IN_BANDA_LARGA,IN_EXAME_SELECAO,QT_DOC_MED
75845,2021.0,PE,Recife,2611606.0,26110504.0,4.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,9.0,1.0,0.0,0.0
75846,2021.0,PE,Recife,2611606.0,26117541.0,4.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0
75847,2021.0,PE,Recife,2611606.0,26117576.0,3.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0
75848,2021.0,PE,Recife,2611606.0,26117584.0,4.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,0.0,1.0,1.0,3.0,1.0,0.0,0.0
75849,2021.0,PE,Recife,2611606.0,26117673.0,4.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0